.handleHolder {
  position: relative;
  display: flex;
  align-items: center;
  padding: var(--component-spacing-2xs) var(--component-spacing-md);
}

.handleHolder.collapsed {
  height: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
}

.handleHolder.isAnchor {
  padding: var(--component-spacing-2xs) var(--component-spacing-2xs);
}

.handleText {
  font-size: var(--fontSizes-xxsmall);
  color: var(--color-neutral-canvas-default-fg-default);
  white-space: nowrap;
}

.handleText.secondary {
  color: var(--color-neutral-canvas-default-fg-default);
}

.handleText.caseSensitive {
  text-transform: none;
}

.rawHandle {
  background: var(--colors-graphBg);
}

.rawHandle.error {
  background: var(--color-danger-surface-base-idle-fg-default);
  border-color: var(--color-danger-stroke-base);
}

.rawHandle.hide {
  opacity: 0;
}

.rawHandle.isArray {
  border-radius: 0;
  width: calc(var(--space-4) - 2px);
  height: calc(var(--space-4) - 2px);
}

.rawHandle.shouldHideHandles {
  pointer-events: none;
  display: none;
}

.rawHandle.variadic svg {
  margin-top: auto;
}

.rawHandle.variadic::after {
  position: absolute;
  content: '';
  margin-right: 0;
  margin-top: 0;
  height: 8px;
  width: 8px;
  background: var(--color-accent-surface-base-idle-fg-default);
  border-radius: 50%;
  opacity: 0.7;
}