.container {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: auto;
    background: var(--color-neutral-canvas-minimal-bg);
    padding-top: var(--component-spacing-2xl);
}

.holder{
    padding: var(--component-spacing-2xl);
    width: 80%;
}