.timingText {
  position: absolute;
  bottom: -1.5em;
}

.inlineTypeLabel {
  position: absolute;
  background: rgba(from var(--color-neutral-surface-default-idle-bg) r g b / 0.65);
  color: var(--color-neutral-surface-default-idle-fg-default);
  padding: var(--component-spacing-xs) var(--component-spacing-sm) var(--component-spacing-2xs) var(--component-spacing-sm);
  font: var(--font-code-sm);
  border-radius: var(--component-radii-sm);
  text-transform: uppercase;

  &.source {
    left: calc(100% + 16px);
  }
  
  &.target {
    right: calc(100% + 16px);
  }
}

.colorSwatch {
  width: 16px;
  height: 16px;
  border-radius: var(--component-radii-md);
}

.portContainer {
  display: grid;
  justify-content: center;
  direction: row;
}