.colorButton {
  all: unset;
  cursor: pointer;
  border-radius: var(--component-radii-sm);
  width: 16px;
  height: 16px;
  outline: 1px solid var(--color-neutral-stroke-subtle);
  flex-shrink: 0;
}

.colorButton:hover {
  outline: 1px solid var(--color-neutral-stroke-default);
}