@import url('reactflow/dist/style.css');
@import url('react-contexify/ReactContexify.css');
.react-flow__node {
    position: absolute;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    pointer-events: all;
    transform-origin: 0 0;
    box-sizing: content-box;
    padding: 0;
    cursor: -webkit-grab;
    cursor: grab;
    background: transparent;
    width: initial;
    border-radius: var(--radii-small);
    background: var(--colors-bgDefault);
    box-shadow: var(--shadows-small);
    outline: 2px solid transparent;
}

.react-flow__node.filtered {
    opacity: 0.25;
}

.react-flow__node.selectable.selected, .react-flow__node.selectable:focus {
    --nodeBorderColor: var(--colors-focus);
    --nodeBgColor: var(--colors-accentBg);
    outline: 2px solid var(--colors-focus);
}

.react-flow__edge.selected .react-flow__edge-path, .react-flow__edge:focus .react-flow__edge-path, .react-flow__edge:focus-visible .react-flow__edge-path {
    stroke: var(--colors-bgSubtle);
}
.group-color-picker {
    display: none;
    position: absolute;
    top: 100%;
    margin-top: 1em;
}
.react-flow__node.selectable.selected .group-color-picker {
    display: block;
}
.react-flow__node-studio_tokens_group {
    background: transparent;
}
.react-flow__minimap {
    background: var(--colors-bgCanvas);
} 

.react-flow__minimap-mask {
    fill: var(--colors-borderDefault) !important;
}
.react-flow__handle-right {
    right: -1.3em;
}
.react-flow__handle-left {
    left: -1.3em;
}

#drop-panel {
    margin: 0;
}

.react-flow__edge-path, .react-flow__connection-path {
    stroke: var(--colors-borderMuted);
}
.react-flow__edge.selected .react-flow__edge-path, .react-flow__edge:focus .react-flow__edge-path, .react-flow__edge:focus-visible .react-flow__edge-path {
    stroke-width: 5 !important;
    stroke: var(--colors-focus);
}
.react-flow__handle.react-flow__handle-connecting:after {
    background: #ff6060;
}
.react-flow__handle.react-flow__handle-valid:after {
    background: #5d9 !important;
}


.mosaic-window .mosaic-window-toolbar, .mosaic-preview .mosaic-window-toolbar{
    color:var(--colors-fgMuted);
    background:var(--colors-bgCanvas); ;
}

.mosaic-root{
    background:var(--colors-borderMuted); ;
    top:2px;
    left:2px;
    right:2px;
    bottom:2px;
}

.mosaic-split,.mosaic.mosaic-blueprint-theme{
    background:var(--colors-borderMuted); ;
}

.mosaic-split.-row{
    width:4px;
    margin-left:2px;
}
.mosaic-split.-column {
    margin-top: -2px;
    height: 4px;
}

.mosaic.mosaic-blueprint-theme .mosaic-window .mosaic-window-title, .mosaic.mosaic-blueprint-theme .mosaic-preview .mosaic-window-title,
.mosaic.mosaic-blueprint-theme .mosaic-window .mosaic-window-toolbar.draggable:hover .mosaic-window-title, .mosaic.mosaic-blueprint-theme .mosaic-preview .mosaic-window-toolbar.draggable:hover .mosaic-window-title{
    color:var(--colors-fgMuted);
    font-size: var(--fontSizes-xsmall);
}

.mosaic.mosaic-blueprint-theme .mosaic-window .mosaic-window-toolbar.draggable:hover, .mosaic.mosaic-blueprint-theme .mosaic-preview .mosaic-window-toolbar.draggable:hover {
    background:var(--colors-bgEmphasis); ;
}

.contexify{
    --contexify-menu-bgColor: var(--colors-bgCanvas);
    --contexify-separator-color: #4c4c4c;
    --contexify-item-color: var(--colors-fgDefault);
    --contexify-activeItem-color: var(--colors-fgDefault);
    --contexify-activeItem-bgColor: #3498db;
    --contexify-rightSlot-color: #6f6e77;
    --contexify-activeRightSlot-color: var(--colors-fgDefault);
    --contexify-arrow-color: #6f6e77;
    --contexify-activeArrow-color:  var(--colors-fgDefault);
}

.DropdownMenuContent {
    width: var(--radix-dropdown-menu-trigger-width);
    max-height: var(--radix-dropdown-menu-content-available-height);
    overflow-y: scroll;
}
