@import url("mafs/core.css");

@import url('rc-dock/dist/rc-dock.css');
@import url('./css/rc-dock.css');
@import url('rc-menu/assets/index.css');
@import url('./components/menubar/menubar.css');
@import url('./css/reactflow.css');
@import url('./css/cmdk.css');
@import url('./css/contextify.css');
@import url('./components/curveEditor/override.css');
@import '@radix-ui/colors/gray-dark.css';
@import '@radix-ui/colors/sand-dark.css';
@import '@radix-ui/colors/amber-dark.css';
@import '@radix-ui/colors/crimson-dark.css';
@import '@radix-ui/colors/pink-dark.css';
@import '@radix-ui/colors/purple-dark.css';
@import '@radix-ui/colors/violet-dark.css';
@import '@radix-ui/colors/indigo-dark.css';
@import '@radix-ui/colors/teal-dark.css';
@import '@radix-ui/colors/lime-dark.css';
@import '@radix-ui/colors/mint-dark.css';
@import '@radix-ui/colors/blue-dark.css';
@import '@radix-ui/colors/blue-dark-alpha.css';
@import '@radix-ui/colors/red-dark.css';
@import '@radix-ui/colors/green-dark.css';
@import '@radix-ui/colors/orange-dark.css';
@import '@radix-ui/colors/gold-dark.css';

:root {
    --globals-drop-panel-width: 240px;
  
}


#drop-panel {
    margin: 0;
}


.dock-panel {
    color: inherit;
    border-color: transparent;
}

.dock-top .dock-bar {
    border-bottom: none;
}

.dock-tab {
    color: var(--gray-12);
    border-bottom: none;
    z-index: 10;
}

.dock-tab>div {
    padding: var(--space-2) var(--space-3);
}

.dock-nav-wrap {
    cursor: move;
}

.dock-panel.dock-style-main .dock-tab,
.dock-tab {
    background: transparent;
}



.dock-panel {
    background: var(--gray-1);
}

.dock-fbox>.dock-panel {
    box-shadow: 0 0 0.25rem var(--gray-3);
}

.dock-top .dock-bar,
.dock-tab {
    background: transparent;
}

.dock-panel.dock-style-main .dock-bar {
    border-bottom-color: var(--gray-6);
}

.dock-content-holder {
    scrollbar-color: var(--colors-bgSubtle) transparent;
    scrollbar-width: thin;
    border-bottom: 1px solid var(--gray-6);
}

.dock-top .dock-ink-bar {
    background: var(--gray-3);
    z-index: 0;
    height: 100%;
    border-radius: var(--radii-small);
}


.DropdownMenuContent {
    width: var(--radix-dropdown-menu-trigger-width);
    max-height: var(--radix-dropdown-menu-content-available-height);
    overflow-y: scroll;
}