@import url('reactflow/dist/style.css');
@import url("mafs/core.css");
@import url('react-contexify/ReactContexify.css');
@import url('rc-dock/dist/rc-dock.css');
@import url('./css/rc-dock.css');
@import url('rc-menu/assets/index.css');
@import url('./components/menubar/menubar.css');
@import url('./css/reactflow.css');
@import url('./css/cmdk.css');
@import url('./components/curveEditor/override.css');
@import '@radix-ui/colors/gray-dark.css';
@import '@radix-ui/colors/sand-dark.css';
@import '@radix-ui/colors/amber-dark.css';
@import '@radix-ui/colors/crimson-dark.css';
@import '@radix-ui/colors/pink-dark.css';
@import '@radix-ui/colors/purple-dark.css';
@import '@radix-ui/colors/violet-dark.css';
@import '@radix-ui/colors/indigo-dark.css';
@import '@radix-ui/colors/teal-dark.css';
@import '@radix-ui/colors/lime-dark.css';
@import '@radix-ui/colors/mint-dark.css';
@import '@radix-ui/colors/blue-dark.css';
@import '@radix-ui/colors/blue-dark-alpha.css';
@import '@radix-ui/colors/red-dark.css';
@import '@radix-ui/colors/green-dark.css';
@import '@radix-ui/colors/orange-dark.css';
@import '@radix-ui/colors/gold-dark.css';

:root {
    --globals-drop-panel-width: 240px;
}
.dark-theme {
    // --colors-accentBg: #142D41;
    // --colors-accentBorder: #306999;
    // --colors-accentDefault: #75B3E7;
    // --colors-accentEmphasis: #408ECF;
    // --colors-accentMuted: #306999;
    // --colors-accentOnAccent: #ffffff;
    --colors-bgCanvas: #292929;
    --colors-bgDefault: #2d2d2d;
    --colors-bgEmphasis: #2b2b2b;
    --colors-bgSubtle: #373737;
    --colors-bgSurface: #292929;
    
    /* Desaturated colors */
    --colors-borderDefault: #636363; /* Desaturated from #4F6978 */
    --colors-borderMuted: #2e2e2e; /* Desaturated from #1F2B32 */
    --colors-borderSubtle: #454545;
    // --colors-buttonPrimaryBgHover: #FDFDFE;
    // --colors-buttonPrimaryBgRest: #F7FAFB;
    // --colors-buttonPrimaryBorderRest: #EEF3F6;
    // --colors-buttonPrimaryFg: #000000;
    // --colors-buttonSecondaryBgHover: #141719;
    // --colors-buttonSecondaryBgRest: #161d22;
    // --colors-buttonSecondaryBorderRest: #243038;
    // --colors-buttonSecondaryFg: #ffffff;
    // --colors-dangerBg: #4b1b1b;
    // --colors-dangerBorder: #c53030;
    // --colors-dangerFg: #fc8181;
    // --colors-fgDefault: #ffffff;
    // --colors-fgDisabled: #6A8EA2;
    // --colors-fgMuted: #BED1DC;
    // --colors-fgOnEmphasis: #ffffff;
    --colors-fgSubtle: #8a8a8a; /* Desaturated from #92B2C4 */    // --colors-interactionBg: #161d22;
    // --colors-interactionHandle: #ffffff;
    // --colors-interactionHandleInactive: #1F2B32;
    // --colors-modalBackdrop: rgba(20, 23, 25, 0.75);
    // --colors-shadowDefault: rgba(0, 0, 0, 0.05);
    // --colors-successBg: #122b1f;
    // --colors-successBorder: #2f855a;
    // --colors-successFg: #68d391;
    // --colors-focus: #408ECF;
    // --colors-contextMenuBg: #0b0d0e;
    // --colors-contextMenuBgHover: #1F2B32;
    // --colors-contextMenuBorder: #1F2B32;
    // --colors-contextMenuFg: #ffffff;
    // --colors-contextMenuFgDisabled: #92B2C4;
    // --colors-contextMenuFgMuted: #BED1DC;
    // --colors-contextMenuSeparator: #1F2B32;
    --colors-inputBg: #202020;
    --colors-inputBorderRest: #454545;
    // --colors-loadingScreenBg: #141414;
    // --colors-loadingScreenFg: #FFFFFF;
    // --colors-loadingScreenFgMuted: #CECECE;
    // --colors-spinnerDefaultActive: #ffffff;
    // --colors-spinnerDefaultMuted: #1F2B32;
    // --colors-spinnerOnAccentActive: #161d22;
    // --colors-spinnerOnAccentMuted: #92B2C4;
    // --colors-tooltipBg: #0b0d0e;
    // --colors-tooltipBgAccent: #1F3D68;
    // --colors-tooltipBgSubtle: #2B2A2A;
    // --colors-tooltipFg: #ffffff;
    // --colors-tooltipFgAccent: #A0C0EF;
    // --colors-tooltipFgDanger: #E05534;
    // --colors-tooltipFgMuted: rgba(255, 255, 255, 0.7);
    // --shadows-buttonPrimaryShadow: 0 0 0 1px rgba(255, 255, 255, 0.9), 0 1px 1px 0 #FFFFFF40, inset 0 2px 0 0 #ffffff;
    // --shadows-buttonSecondaryShadow: 0 0 0 1px rgba(200, 200, 255, 0.1), 0 1px 1px 0 #000000, inset 0 0 0 0 #FFFFFF26;
    // --shadows-contextMenu: 0 10px 38px -10px rgba(22, 23, 24, 0.35), 0 10px 20px -15px rgba(22, 23, 24, 0.2);
    // --shadows-focus: 0 0 0 2px #408ECF;
    // --shadows-focusDanger: 0 0 0 2px #4b1b1b;
    // --shadows-focusMuted: 0 0 0 2px #90CDF4;
    // --shadows-small: 0 2px 1px 0 rgba(0, 0, 0, 0.05);
    // --shadows-tokenFocus: 0 0 0 2px #1F2B32;
}
.dock-panel{
    color:inherit
}

.group-color-picker {
    display: none;
    position: absolute;
    top: 100%;
    margin-top: 1em;
}

#drop-panel {
    margin: 0;
}

.contexify {
    --contexify-menu-bgColor: var(--colors-contextMenuBg);
    --contexify-separator-color: var(--colors-contextMenuSeparator);
    --contexify-item-color: var(--colors-contextMenuFg);
    --contexify-activeItem-color: var(--colors-contextMenuFg);
    --contexify-activeItem-bgColor: var(--colors-contextMenuBgHover);
    --contexify-rightSlot-color: var(--colors-contextMenuFgMuted);
    --contexify-activeRightSlot-color: var(--colors-contextMenuFg);
    --contexify-arrow-color: var(--colors-contextMenuFgMuted);
    --contexify-activeArrow-color: var(--colors-contextMenuFgMuted);
    --contexify-menu-shadow: var(--shadows-contextMenu);
}

.DropdownMenuContent {
    width: var(--radix-dropdown-menu-trigger-width);
    max-height: var(--radix-dropdown-menu-content-available-height);
    overflow-y: scroll;
}


