@layer lib {
    @import url("mafs/core.css");
    @import url('rc-dock/dist/rc-dock.css');
    @import url('./css/rc-dock.css');
    @import url('rc-menu/assets/index.css');
    @import url('./css/reactflow.css');
    @import url('./css/cmdk.css');
    @import url('./css/contexify.css');
    @import url('./components/curveEditor/override.css');
}

@layer graphEditor {
    .graph-editor {
        --colors-pageBg: var(--color-neutral-canvas-default-bg);
        --colors-nodeBg: var(--color-neutral-canvas-default-bg);
        --colors-nodeBorder: var(--color-neutral-stroke-subtle);
        --colors-graphBg: var(--color-neutral-canvas-minimal-bg);
        --colors-panelBg: var(--color-neutral-canvas-default-bg);
    }
}

:root {
    --globals-drop-panel-width: 240px;
}


#drop-panel {
    margin: 0;
}



.dock-top .dock-bar {
    border-bottom: none;
}

.dock-panel.dock-style-main .dock-bar {
    border-bottom-color: var(--color-neutral-stroke-subtle);
}

.dock-content-holder {
    scrollbar-color: var(--color-neutral-canvas-subtle-bg) transparent;
    scrollbar-width: thin;
    border-bottom: var(--component-border-width-md) solid var(--color-neutral-stroke-subtle);
}

.dock-top .dock-ink-bar {
    background: var(--color-neutral-canvas-default-bg);
    z-index: 0;
    height: 100%;
    border-radius: var(--component-radii-sm);
}


.DropdownMenuContent {
    width: var(--radix-dropdown-menu-trigger-width);
    max-height: var(--radix-dropdown-menu-content-available-height);
    overflow-y: scroll;
}