table,
.divTable {
  border: 1px solid var(--colors-borderSubtle);
  width: fit-content;
}

.tr {
  display: flex;
}

tr,
.tr {
  width: fit-content;
  height: 30px;
}

th,
.th,
td,
.td {
  box-shadow: inset 0 0 0 1px var(--colors-borderSubtle);
  padding: 0.25rem;
}

th,
.th {
  padding: 2px 4px;
  position: relative;
  font-weight: bold;
  text-align: center;
  height: 30px;
}

td,
.td {
  height: 30px;
}


.resizer {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 5px;
    background: var(--colors-fgSubtle);
    cursor: col-resize;
    user-select: none;
    touch-action: none;
  }
  

  .resizer.isResizing {
    background: var(--colors-fgDefault);
    opacity: 1;
  }
  
  @media (hover: hover) {
    .resizer {
      opacity: 0;
    }
  
    *:hover > .resizer {
      opacity: 1;
    }
  }
  
  .dock-panel{
    border-color: var(--colors-borderSubtle);
  }

.dock-top .dock-bar{
  border-bottom-color: var(--colors-borderSubtle);
}

.dock-tab{
  color:var(--colors-fgDefault);

  border-bottom-color: var(--colors-borderDefault);
}

.dock-nav-wrap{
  cursor: move;
}

.dock-panel.dock-style-main .dock-tab,.dock-tab{
  background: var(--colors-bgDefault);
}

#__next{
  height: 100%;
}

.dock-panel,.dock-top .dock-bar, .dock-tab{
  background: var(--colors-bgDefault)
  }

  .dock-panel.dock-style-main .dock-bar{
    border-bottom-color: var(--colors-borderDefault);
  }

/* Reset any browser-based margins for the preview */
#preview {
  all: unset;

  h1, h2, h3, h4, h5, h6, p {
    margin: unset;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

a{
  text-decoration: none;
  color:inherit;
}

body {
  height: 100vh;
  color: var(--fg-default);
  background: var(--bg-default);
}


@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}