#__next {
  height: 100%;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  margin: 0;
  padding:0;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  height: 100vh;
  color: var(--color-neutral-canvas-default-fg-default);
  background: var(--color-neutral-canvas-default-bg);
}


@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
