.scrollWrapper {
  height: 100%;
  flex: 1;
  padding: var(--component-spacing-md);
  overflow: auto;
}

.componentSpacingWrapper {
  padding: var(--component-spacing-md);
}

.listWrapper {
  display: flex;
  flex-direction: column;
  font-size: var(--font-body-small-default);
  gap: var(--component-spacing-xs);
  list-style-type: none;
  margin: 0;
  padding: 0;
  user-select: none;
}

.listItem {
  cursor: pointer;
  display: inline-flex;
  gap: var(--component-spacing-sm);
  padding-left: 0;
  padding-left: calc(var(--tree-depth, 0px) * var(--component-spacing-xs, 1px));
}

.listItemSelected {
  font-weight: bold;
}

.listItemCount {
  color: var(--fg-subtle);
  font-weight: normal;
}
