.timeline-editor-time-unit-scale {
    color: var(--colors-fgDefault) !important
}

.timeline-editor-time-unit {
    border-right: 1px solid var(--colors-borderDefault);
}

.timeline-editor-action {
    background-color: unset;
}

.timeline-editor-time-area  .ReactVirtualized__Grid{
    overflow: hidden !important;
}

.timeline-editor {
    font-family: 'Inter', sans-serif !important;
    height: 100% !important;
    width: unset !important;
    flex: 1;
    background-color: inherit !important;
}

.timeline-editor-edit-row {
    background: var(--colors-bgSubtle);
}

.timeline-player {
    height: 32px;

    padding: 0 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #3a3a3a;
    color: #ddd;

    .play-control {
        width: 24px;
        height: 24px;
        border-radius: 4px;
        display: flex;
        background-color: #666;
        justify-content: center;
        align-items: center;
    }

    .time {
        font-size: 12px;
        margin: 0 20px;
        width: 70px;
    }

    .rate-control {
        justify-self: flex-end;


    }
}


.timeline-list {
    min-width: 150px;
    margin-top: 42px;
    height: 258px;
    flex: 0 1 auto;
    overflow-y: auto;
    box-sizing: border-box;
    overflow-x: clip;

    &-item {
        height: 32px;
        align-items: center;
        width: 100%;
        display: flex;
        padding: 0 10px;
        box-sizing: border-box;

        &:hover {
            background-color: var(--colors-focus);
        }

        & .text {
            height: 28px;
            width: 100%;
            padding-left: 10px;
            border-radius: 4px;

        }
    }
}