[cmdk-overlay] {
    background: rgba(25, 25, 25, 0.5);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 500;
}

[cmdk-dialog] {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

[cmdk-root] {
    background-color: var(--color-neutral-canvas-default-bg);
    border-radius: var(--component-radii-md);
    box-shadow: var(--shadows-contextMenu);
    border: 1px solid var(--color-neutral-stroke-subtle);
    font-size: var(--fontSizes-small);
    color: var(--color-neutral-canvas-default-fg-default);
    width: 100%;
    max-width: 640px;
    max-height: 70vh;
    overflow: hidden;
    position: relative;
}

[cmdk-input] {
    border: none;
    width: 100%;
    cursor: text;

    &:focus {
        outline: none;
    }
}

[cmdk-item] {
    font-size: var(--fontSizes-small);
    padding: var(--component-spacing-sm) var(--component-spacing-lg);
    border-radius: 0px
}

[cmdk-group-heading] {
    padding: var(--component-spacing-3xs) var(--component-spacing-lg);
    font-weight: var(--fontWeights-sansMedium);
    color: var(--color-neutral-canvas-default-fg-default);
    font-size: var(--fontSizes-xxsmall);
}

[cmdk-item][data-selected="true"] {
    background-color: var(--color-neutral-canvas-subtle-bg);
}


[cmdk-framer-separator] {
    width: 1px;
    border: 0;
    margin-right: 8px;
    background: var(--color-neutral-stroke-default);
}

[cmdk-framer-right] {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    margin-left: 8px;
    width: 60%;
}