@import url('react-contexify/ReactContexify.css');
.contexify {
    --contexify-menu-bgColor: var(--colors-contextMenuBg);
    --contexify-separator-color: var(--colors-contextMenuSeparator);
    --contexify-item-color: var(--colors-contextMenuFg);
    --contexify-activeItem-color: var(--colors-contextMenuFg);
    --contexify-activeItem-bgColor: var(--colors-contextMenuBgHover);
    --contexify-rightSlot-color: var(--colors-contextMenuFgMuted);
    --contexify-activeRightSlot-color: var(--colors-contextMenuFg);
    --contexify-arrow-color: var(--colors-contextMenuFgMuted);
    --contexify-activeArrow-color: var(--colors-contextMenuFgMuted);
    --contexify-menu-shadow: var(--shadows-contextMenu);
}