.dock-panel {
    color: inherit;
    border-color: transparent;
    border: none;
    background: var(--color-neutral-canvas-minimal-bg);
}

.dock-top .dock-bar {
    border-bottom-color: var(--color-neutral-stroke-subtle);
    padding-left: 0px;

}

.dock-tab {
    color: var(--color-neutral-canvas-minimal-fg-default);
    background: transparent;
    border-bottom: none;
    z-index: 10;
    transition: background-color 0.2s, border-bottom 0.2s, font-weight 0.2s; /* Smooth transition for tab states */
}

.dock-tab>div {
    padding: var(--component-spacing-sm) var(--component-spacing-md);
}


.dock-tab-close-btn {
    display: none;
}

.dock-nav {
    flex-grow: 1;
}

.dock-nav-wrap {
    cursor: move;
}

.dock-panel.dock-style-main .dock-tab,
.dock-tab {
    background: var(--color-neutral-canvas-subtle-bg);
}

.dock-fbox>.dock-panel {
    box-shadow: 0 0 0.25rem var(--color-neutral-canvas-subtle-fg-subtle);
}

.drag-initiator {
    display: flex;
    align-items: center;
    gap: var(--component-spacing-sm);
}

.dock-panel,
.dock-top .dock-bar,
.dock-tab {
    background: var(--color-neutral-canvas-default-bg);
}

.dock-tab {
    background: var(--color-neutral-canvas-default-bg);
}

.dock-tab-active,
.dock-tab-active:hover {
    color: var(--color-neutral-canvas-minimal-fg-default);
    background: var(--color-neutral-canvas-subtle-bg);
    border-bottom: 2px solid var(--color-accent-stroke-default);
    font-weight: var(--fontWeights-sansMedium);
    position: relative;
    z-index: 1; /* Ensure the active tab is above the ink-bar */
}

.dock-panel.dock-style-main .dock-bar {
    border-bottom-color: var(--color-neutral-stroke-subtle);
}

.drag-initiator {
    transition: width 0.2s;
}

.drag-initiator .dock-tab-close-btn {
    display: none;
}