@import url('reactflow/dist/style.css');


.react-flow {
    background: var(--colors-graphBg);
}

.react-flow__handle {
    position: absolute;
    user-select: none;
    pointer-events: all;
    box-sizing: content-box;
    cursor: grab;
    padding: 0;
    width: var(--sizes-4);
    height: var(--sizes-4);
    border: 4px solid var(--colors-graphBg);
    border-radius: 99px;
    box-shadow: var(--shadows-small);
    outline: 2px solid transparent;
    outline-offset: -4px;
    display: grid;
    place-items: center;
}
.react-flow__handle svg {
    pointer-events: none;
}

.react-flow__node.filtered {
    opacity: 0.25;
}

.react-flow__node {
    display: flex;
}
.react-flow__edge.updating {
    stroke: var(--colors-graphBg);
}
.react-flow__handle-valid	{
    outline-color: var(--colors-borderDefault);
}
.react-flow__node.selectable.selected,
.react-flow__node.selectable:focus {
    --nodeBorderColor: var(--colors-borderDefault);
    --nodeBgColor: var(--colors-nodeBg);
    --nodeTextColor: var(--colors-fgDefault);
    outline: 2px solid var(--colors-fgDefault);
    outline-offset: 5px;
    border-radius: var(--radii-medium, 8px);
}

.react-flow__node-studio_tokens_group {
    background: transparent;
}

.react-flow__minimap {
    background: var(--colors-bgSubtle);
}

.react-flow__minimap-mask {
    fill: var(--colors-bgDefault) !important;
}

.react-flow__handle-right {
    right: -12px;
}

.react-flow__handle-left {
    left: -12px;
}
.react-flow__edge {
    stroke-width: 1 !important;
    stroke-opacity: 1;

}
.react-flow__edges {
    stroke: #33b074 !important;
    stroke-width: 1 !important;
    stroke-opacity: 0.5;

}
.react-flow__edge-path-back
{
    stroke-width: 8px !important;
    stroke: var(--colors-graphBg) !important;
    fill: none;
}
.react-flow__edge-path,
.react-flow__connection-path {
    stroke-width: 4px !important;
    stroke-linecap: round;
}

.react-flow__edge.selected .react-flow__edge-path,
.react-flow__edge:focus .react-flow__edge-path,
.react-flow__edge:focus-visible .react-flow__edge-path {
    stroke-width: 4px !important;
    stroke: white !important;
}

.react-flow__handle-connecting:not(.react-flow__handle-valid) {
    cursor: not-allowed;
}

.react-flow__handle-connecting:not(.react-flow__handle-valid):after,
.react-flow__handle-connecting:not(.react-flow__handle-valid)>* {
    transition: transform .3s; /* Animation */
}
.react-flow__handle-connecting.react-flow__handle-valid:after,
.react-flow__handle-connecting.react-flow__handle-valid>* {
    transition: transform .3s; /* Animation */
}

/* Negative feedback animation */
@keyframes horizontal-shaking {
    0% { transform: translateX(0) }
    25% { transform: translateX(1px) }
    50% { transform: translateX(-1px) }
    75% { transform: translateX(1px) }
    100% { transform: translateX(0) }
}
  

.react-flow__resize-control {
    display: none;
}

.react-flow__node.selected .react-flow__resize-control {
    display: initial;
}