@import url('reactflow/dist/style.css');
.react-flow {
    background: var(--colors-bgDefault);
}
.react-flow__handle {
    position: unset;
    user-select: none;
    pointer-events: all;
    box-sizing: content-box;
    padding: 0;
    cursor: grab;
    width: var(--sizes-5);
    height: var(--sizes-5);
    border: 0;
    border-radius: var(--radii-small, 4px);
    background: var(--colors-accentMuted);
    color: var(--colors-accentOnAccent);
    box-shadow: var(--shadows-small);
    outline: 2px solid transparent;
    display: grid;
    place-items: center;
}
.react-flow__handle svg {
    pointer-events: none;
}

.react-flow__node.filtered {
    opacity: 0.25;
}

.react-flow__node.selectable.selected,
.react-flow__node.selectable:focus {
    --nodeBorderColor: var(--colors-accentMuted);
    --nodeBgColor: var(--colors-accentBg);
    --nodeTextColor: var(--colors-fgDefault);
    outline: 2px solid var(--colors-accentMuted);
    border-radius: var(--radii-small, 4px);
}

.react-flow__edge.selected .react-flow__edge-path,
.react-flow__edge:focus .react-flow__edge-path,
.react-flow__edge:focus-visible .react-flow__edge-path {
    stroke: var(--colors-bgSubtle);
}

.react-flow__node.selectable.selected .group-color-picker {
    display: block;
}

.react-flow__node-studio_tokens_group {
    background: transparent;
}

.react-flow__minimap {
    background: var(--colors-bgCanvas);
}

.react-flow__minimap-mask {
    fill: var(--colors-borderDefault) !important;
}

.react-flow__handle-right {
    transform: unset;
    margin-right: unset;
}

.react-flow__handle-left {
    transform: unset;
    margin-left: unset;
}

.react-flow__edge-path,
.react-flow__connection-path {
    stroke: var(--colors-borderMuted);
}

.react-flow__edge.selected .react-flow__edge-path,
.react-flow__edge:focus .react-flow__edge-path,
.react-flow__edge:focus-visible .react-flow__edge-path {
    stroke-width: 2 !important;
    stroke: #b6cdf6;
    filter: drop-shadow(0px 0 5px rgb(196, 213, 245, 0.7));
}

.react-flow__handle-connecting:not(.react-flow__handle-valid) {
    cursor: not-allowed;
}

.react-flow__handle-connecting:not(.react-flow__handle-valid):after,
.react-flow__handle-connecting:not(.react-flow__handle-valid)>* {
    background: #ff6060 !important;
}

.react-flow__handle.react-flow__handle-valid {
    outline: 1px solid var(--colors-borderDefault);
}