.MafsView {


    --mafs-fg: var(--color-accent-stroke-base);
    --mafs-bg: var(--color-neutral-canvas-subtle-bg);
    --mafs-origin-color: var(--color-neutral-canvas-minimal-fg-default);
    --mafs-line-color: var(--color-neutral-stroke-default);
    --grid-line-subdivision-color: var(--color-neutral-stroke-subtle);
}