.MafsView {


    --mafs-fg: var(--colors-accentBorder);
    --mafs-bg: var(--colors-bgSubtle);
    --mafs-origin-color: var(--colors-fgOnEmphasis);
    --mafs-line-color: var(--colors-borderDefault);
    --grid-line-subdivision-color: var(--colors-borderMuted);
}