@tailwind utilities;

html {
  font-feature-settings: 'rlig' 1, 'calt' 1, 'ss01' 1, 'ss06' 1 !important;
}

.dark .nextra-container .nextra-sidebar ul button,
.dark .nextra-container .nextra-sidebar ul li a,
.dark .nextra-container .nextra-sidebar ul summary {
  color: #a8a7ae !important;
}

.dark .nextra-container .nextra-sidebar ul li.active > a,
.dark .nextra-container .nextra-sidebar ul li.active > a:hover {
  color: hsl(
    var(--nextra-primary-hue) 100% 50% / var(--tw-text-opacity)
  ) !important;
}

.dark .nextra-container .nextra-sidebar ul .active-anchor {
  color: #ffffff !important;
}
